@font-face {
    font-family: StratosSkyeng;
    src: url('../fonts/stratosskyengweb-regular.woff2') format('woff2'),
        url(../fonts/stratosskyengweb-regular.woff) format(woff);
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #004980;
    flex-direction: column;
}

.start-screen {
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__diff-holder {
        display: flex;
        gap: 24px;
        margin-bottom: 67px;
    }

    &__title {
        margin-top: 52px;
        margin-bottom: 48px;
        width: 208px;
        height: 96px;
        font-family: StratosSkyeng;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #004980;
    }

    &__diff-changer {
        width: 98px;
        height: 98px;
        background: #fff;
        border-radius: 12px;
        border: none;
        font-family: StratosSkyeng;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        color: #0080c1;
    }

    &__diff-changer:hover {
        border: 2px solid blue;
    }

    &__diff-changer_current {
        background-color: rgb(251 215 220);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.game-sub-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    &__timer {
        font-family: StratosSkyeng;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        color: #fff;
    }

    &__time-box {
        font-family: StratosSkyeng;
        font-style: normal;
        font-weight: 400;
        color: #fff;
        display: flex;
        padding-left: 40px;
        justify-content: space-around;
        gap: 38px;
    }
}

.button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    border: none;
    color: white;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.button:hover {
    border: 2px solid blue;
}

.game {
    height: 70vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    height: 134px;
    width: 96px;
    border-radius: 8px;
}
.card-backflipped {
    background-image: url(../../static/cards/shirt.png);
}

.card {
    position: static;
    transition: 0.2s all;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transition-duration: 1s;
}

.card:active {
    -webkit-animation: myAnim 2s ease 0.5s 1 normal forwards;
    animation: myAnim 2s ease 0.5s 1 normal forwards;
}
.card-i {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    visibility: visible;
}
@-webkit-keyframes myAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes myAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.card.flip {
    transform: rotateY(180deg);
}

.back-face {
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-face {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.endgame-mainblock {
    width: 480px;
    height: 459px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 48px;
    padding-top: 9px;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #c2f5ff;
    border-radius: 12px;
}

.endgame-mainblock__title {
    font-family: StratosSkyeng;
    font-size: 40px;
    font-weight: 400;
    color: #004980;
    margin-top: 9px;
    margin-bottom: 28px;
}

.endgame-mainblock__timetitle {
    font-family: StratosSkyeng;
    font-size: 24px;
    font-weight: 400;
}

.endgame-mainblock__time {
    font-family: StratosSkyeng;
    font-size: 64px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 40px;
}

.endgame-mainblock__image {
    width: 96px;
    height: 96px;
    background-image: url('../../static/WinImg.jpg');
}
